<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1_SnapShot_1586967201119"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.122.1"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="26"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="clusterState, confOK, reqState, lastSubmitted, queue"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TypeInvariants"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1NoPartialUpdateTermination"/>
        <listEntry value="1NoApplicationOfOutdatedReq"/>
        <listEntry value="1EveryReqInQueueIsProcessed"/>
    </listAttribute>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="NULL;;NULL;1;0"/>
        <listEntry value="Reqs;;{&quot;r1&quot;, &quot;r2&quot;, &quot;r3&quot;};0;0"/>
    </listAttribute>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="UpdateCluster_1"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
